.sfs {
  --title-width: 180px;
  --content-width: 285px;
  --offset: 15px;

  display: flex;
  width: calc(var(--title-width) + var(--offset) + var(--content-width));

  &__title {
    width: var(--title-width);
    padding-top: 6px;
    margin-right: var(--offset);
    flex-shrink: 0;
  }

  &__tooltip_question {
    cursor: pointer;
    border-radius: 50%;
    background: var(--g-color-line-generic);

    font-size: 1em;
    font-weight: bold;

    padding: 0.1em 0.4em;
    margin: 5px;
  }

  &__content {
    min-height: 36px;
    flex: 1;
  }

  &.sfs--view-row {
    flex-flow: row;
  }

  &.sfs--view-column {
    flex-flow: column;
    gap: 4px;
    //width: 100%;
  }
}
