:root {
  --cubes-list-item-bg: rgba(0, 0, 0, 0.04);
  --cubes-list-item-bg-dark: rgba(255, 255, 255, 0.04);
  --cubes-list-item-bg-selected: rgba(54, 151, 241, 0.12);
  --cubes-list-item-bg-selected-dark: rgba(54, 151, 241, 0.18);

  --cubes-list-item-border: rgba(0, 0, 0, 0.06);
  --cubes-list-item-border-dark: rgba(255, 255, 255, 0.06);
  --cubes-list-item-border-selected: rgba(54, 151, 241, 0.8);
  --cubes-list-item-border-selected-dark: rgba(54, 151, 241, 0.8);

  --cubes-list-structure: rgba(54, 151, 241, 0.2);
  --cubes-list-structure-dark: rgba(54, 151, 241, 0.18);
  //hover
  --cubes-list-item-hover-bg: rgba(0, 0, 0, 0.05);
  --cubes-list-item-hover-bg-dark: rgba(255, 255, 255, 0.05);
  --cubes-list-item-hover-border: rgba(0, 0, 0, 0.06);
  --cubes-list-item-hover-border-dark: rgba(255, 255, 255, 0.08);
}
.cubes-list {
  width: 340px;
  overflow-y: auto;
  padding-right: 18px;
  gap: 6px;
}
.structure {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 8px;
}
.cubes-info {
  position: relative;
  flex: 1;
  padding-left: 18px;
  border-left: 1px solid var(--cubes-list-item-hover-border);
  width: 100%;
  overflow: hidden;

  &-wrap {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 18px;
    padding-bottom: 50px;
    min-width: 0;
  }
}

.cube {
  cursor: pointer;
  user-select: none;

  padding: 6px 10px;
  border-radius: 6px;
  background-color: var(--cubes-list-item-bg);
  border: 1px solid var(--cubes-list-item-border);

  transition: all linear 0.2s;

  &:hover {
    background-color: var(--cubes-list-item-hover-bg);
    border: 1px solid var(--cubes-list-item-hover-border);
  }
  &.isSelected {
    background-color: var(--cubes-list-item-bg-selected);
    border: 1px solid var(--cubes-list-item-border-selected);
  }
}

.cubeDisclosure {
  padding: 6px 12px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid var(--disc-border, rgba(228, 228, 228, 1));

  &.isSelected {
    box-shadow: 0 0 0.5rem 0.125rem rgba(59, 130, 246, 0.5);
    border-color: var(--cubes-list-item-border-selected);
  }

  &.hasError {
    border-color: var(--error-disc-border, rgba(200, 21, 21, 0.4));
  }

  // selected имеет приоритет над hasError
  &.isSelected.hasError {
    border-color: var(--cubes-list-item-border-selected);
  }

  &Header {
    cursor: pointer;
    user-select: none;
  }

  &Content {
    margin-top: 6px;
  }
}

:global(.g-root_theme_dark) .cubeDisclosure {
  border-color: var(--disc-border-dark, rgba(66, 66, 66, 0.7));

  &.isSelected {
    border-color: var(--cubes-list-item-border-selected-dark);
  }

  &.hasError {
    border-color: var(--error-disc-border-dark, rgba(174, 46, 46, 0.4));
  }

  &.isSelected.hasError {
    border-color: var(--cubes-list-item-border-selected-dark);
  }
}

:global(.g-root_theme_dark) {
  .cube {
    background-color: var(--cubes-list-item-bg-dark);
    border: 1px solid var(--cubes-list-item-border-dark);
    &:hover {
      background-color: var(--cubes-list-item-hover-bg-dark);
      border: 1px solid var(--cubes-list-item-hover-border-dark);
    }
    &.isSelected {
      background-color: var(--cubes-list-item-bg-selected-dark);
      border: 1px solid var(--cubes-list-item-border-selected-dark);
    }
  }
  .cubes-info {
    border-left: 1px solid var(--cubes-list-item-hover-border-dark);
  }
  .structure {
    border-color: rgb(var(66, 66, 66));
  }
}
