.container {
  width: 415px;
  height: 100%;

  > iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--g-color-base-background);
  }
}

.button {
  position: absolute;
  right: 12px;
  top: 12px;
}
