.radioBoolean {
  width: fit-content;

  // Стили для активного состояния true (success)
  &.isTrue {
    :global(.g-segmented-radio-group__option_checked) {
      :global(.g-segmented-radio-group__option-text) {
        color: var(--g-color-text-positive);
      }

      &::after {
        background-color: var(--g-color-base-positive-light);
        border-color: var(--g-color-line-positive);
      }
    }
  }

  // Стили для активного состояния false (danger)
  &.isFalse {
    :global(.g-segmented-radio-group__option_checked) {
      :global(.g-segmented-radio-group__option-text) {
        color: var(--g-color-text-danger);
      }

      &::after {
        background-color: var(--g-color-base-danger-light);
        border-color: var(--g-color-line-danger);
      }
    }
  }

  // Стили для активного состояния undefined (generic/нейтральный серый)
  &.isUndefined {
    :global(.g-segmented-radio-group__option_checked) {
      :global(.g-segmented-radio-group__option-text) {
        color: var(--g-color-text-secondary);
      }

      &::after {
        background-color: var(--g-color-base-generic);
        border-color: var(--g-color-line-generic);
      }
    }
  }
}

