.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: normal;
    width: 100%;
  }
  .after{
    
    margin-left:12px;
  }
  .skeleton {
      position: relative;
  
      :global{
        .gn-composite-bar-item {
          opacity: 0;
        }
    
        .g-skeleton {
          position: absolute;
          left: 10px;
          top: 5px;
          right: 0;
          bottom: 0;
          width: calc(100% - 20px);
          height: calc(100% - 10px);
        }
      }
     
    }

    .children{
        transition: height, opacity .2s;
        opacity: 1;
        max-height: none;
        &.hidden{
            opacity: 0;
            max-height: 0;
        }
    }