:root {
  --disc-border: rgba(228, 228, 228, 1);
  --error-disc-border: rgba(200, 21, 21, 0.4);
  --disc-border-dark: rgba(66, 66, 66, 0.7);
  --error-disc-border-dark: rgba(174, 46, 46, 0.4);
}

.discBlock {
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--disc-border);

  &.hasError {
    border: 1px solid var(--error-disc-border);
  }
}

:global(.g-root_theme_dark) {
  .discBlock {
    border: 1px solid var(--disc-border-dark);

    &.hasError {
      border: 1px solid var(--error-disc-border-dark);
    }
  }
}
