.notification {
  display: flex;
  flex-flow: column;

  > :global(.g-text_variant_subheader-3) {
    white-space: break-spaces;
  }

  > :global(.g-text_variant_body-1) {
    margin-top: 8px;
    white-space: break-spaces;
  }

  >.extras {
    margin-top: 8px;
    display: flex;
    flex-flow: column;
    gap: 8px;
    max-width: 294px;
  }
}

.notification-extra-content {
  display: flex;
  flex-flow: column;

  > :global(.g-text) {
    white-space: break-spaces;
    margin-bottom: 2px;
  }

  > :global(.g-label) {
    max-height: 160px;
  }
}

.notification-content-container {
  overflow: auto;
}
