@import "./mixins.scss";
:root{
  --gn-aside-header-background-color: var(--g-color-base-selection);
  --gn-drawer-z-index: 99;
  --gn-aside-header-z-index: 100;
  --gn-top-alert-height: 0px; // Значение по умолчанию
}

@include kit-globals() {
  --gn-aside-header-background-color: var(--g-color-base-selection);

  .g-text-input_size_l .g-text-input__additional-content_placement_end {
    padding-right: 8px;
  }

  .g-text-input__content>.g-popover {
    display: flex;
  }

  .g-button_disabled {
    pointer-events: unset !important;
  }

  .yt-number-input {
    .g-text-input__clear {
      margin-right: 4px;
    }
  }

  .g-popup.g-popover__tooltip {
    box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
  }

  .gn-drawer__item {
    z-index: 10;
  }

  .g-card_type_container.g-card_view_raised.g-card_size_l {
    --g-card-box-shadow: 1px 3px 13px 0px var(--g-color-sfx-shadow-light), 0px 1px 6px 0px var(--g-color-sfx-shadow-light);
  }

  .g-button_view_action:not(.g-button_disabled),
  .g-button_view_action:not(.g-button_disabled):link,
  .g-button_view_action:not(.g-button_disabled):visited,
  .g-button_view_action:not(.g-button_disabled):active,
  .g-button_view_action:not(.g-button_disabled):focus {
    color: var(--g-color-text-light-primary);
  }

  .g-button_view_action.g-button_loading,
  .g-button_view_action.g-button_loading:link,
  .g-button_view_action.g-button_loading:visited,
  .g-button_view_action.g-button_loading:active,
  .g-button_view_action.g-button_loading:focus {
    color: var(--g-color-text-light-secondary);
  }

  .g-checkbox_checked .g-checkbox__icon,
  .g-checkbox_indeterminate .g-checkbox__icon {
    color: var(--g-color-text-light-primary);
  }

  .g2-html-annotation {
    color: var(--g-color-text-primary) !important;
    z-index: 0 !important;
  }

  .g-range-input-picker .g-text-input__content {
    will-change: contents;
  }

  .g-dialog-footer {
    position: sticky;
    bottom: 0;
    background: var(--g-color-base-modal);
    border-bottom-left-radius: var(--g-modal-border-radius);
    border-bottom-right-radius: var(--g-modal-border-radius);
    z-index: 1;
  }

  .gn-aside-header__aside {
    background-color: var(--_--background-color);
  }

  .df-copy-button {
    .g-button__icon-inner {
      >svg {
        width: var(--_--icon-size);
        height: var(--_--icon-size);
      }
    }
  }

  .df-copy-button.g-button_size_s {
    margin: 2px 0 0 5px;
    --g-button-height: 16px;
    --_--icon-size: 14px;
    --_--icon-offset: 4px;
  }

  .table--full-width {
    padding-bottom: 20px;
    table {
      width: 100%;
    }
  }

  .table--fixed {
    table {
      table-layout: fixed;
    }
  }
}
