@import "./mixins.scss";


@include kit-globals() {
  --g-font-family-sans: var(--vk-sans-text-font-family);
  --g-font-family-monospace: var(--vk-monospace-text-font-family);

  --g-text-body-font-family: var(--vk-sans-text-font-family);
  --g-text-caption-font-family: var(--vk-sans-text-font-family);
  --g-text-header-font-family: var(--vk-sans-text-font-family);
  --g-text-subheader-font-family: var(--vk-sans-text-font-family);
  --g-text-display-font-family: var(--vk-sans-text-font-family);
  --g-text-code-font-family: var(--vk-monospace-text-font-family);

  --g-text-body-font-weight: 400;
  --g-text-caption-font-weight: 400;
  --g-text-header-font-weight: 600;
  --g-text-subheader-font-weight: 600;
  --g-text-display-font-weight: 600;
  --g-text-code-font-weight: 400;
  --g-text-accent-font-weight: 600;
}

@include kit-font(body-1, 13px, 18px);
@include kit-font(body-2, 15px, 20px);
@include kit-font(body-3, 17px, 24px);
@include kit-font(body-short, 13px, 16px);
@include kit-font(caption-1, 9px, 12px);
@include kit-font(caption-2, 11px, 16px);
@include kit-font(header-1, 20px, 24px);
@include kit-font(height-2, 24px, 28px);
@include kit-font(subheader-1, 13px, 18px);
@include kit-font(subheader-2, 15px, 20px);
@include kit-font(subheader-3, 17px, 24px);
@include kit-font(display-1, 28px, 36px);
@include kit-font(display-2, 32px, 40px);
@include kit-font(display-3, 40px, 48px);
@include kit-font(display-4, 48px, 52px);
@include kit-font(code-1, 12px, 18px);
@include kit-font(code-2, 14px, 20px);
@include kit-font(code-3, 16px, 24px);
@include kit-font(code-inline-1, 12px, 14px);
@include kit-font(code-inline-2, 14px, 16px);
@include kit-font(code-inline-3, 16px, 20px);