.register-page {
  display: flex;
  min-height: inherit;
  background: var(--color-dark-1000);
  align-items: center;
  justify-content: center;
}

.background-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 40vh;
  width: auto;
  max-height: 400px;
}

.content {
  position: relative;
  display: flex;
  width: 50%;
  max-width: 640px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
  max-width: 420px;
  flex-direction: column;
  gap: 12px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.sub-link {
  color: var(--g-color-text-light-secondary);
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: var(--g-color-text-light-primary);
  }
}
