.data-item-card {
    padding: 6px 10px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.024);
    width: 100%;
    min-height: 34px;
}


:global(.g-root_theme_dark) {
    .data-item-card {
        border-color: rgba(255, 255, 255, 0.08);
        background-color: rgba(255, 255, 255, 0.04);
    }
}