:root {
  --vk-sans-text-font-family: 'VKSansText', sans-serif;
  --vk-monospace-text-font-family: "Menlo", "Monaco", "Consolas", "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", "Courier", monospace;
  --vk-sans-text-font-weight-light: 300;
  --vk-sans-text-font-weight-regular: 400;
  --vk-sans-text-font-weight-medium: 500;
  --vk-sans-text-font-weight-semi-bold: 600;
  --vk-sans-text-font-weight-bold: 700;
}

@font-face {
  font-family: 'VKSansText';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(@/shared/assets/fonts/VK_Sans_Text_13pt_Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'VKSansText';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(@/shared/assets/fonts/VK_Sans_Text_13pt_DemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'VKSansText';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(@/shared/assets/fonts/VK_Sans_Text_13pt_Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'VKSansText';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(@/shared/assets/fonts/VK_Sans_Text_13pt_Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'VKSansText';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(@/shared/assets/fonts/VK_Sans_Text_13pt_Light.woff2) format('woff2');
}