$layout-padding: 24px;

:root {
  --sf-bg: rgba(0, 0, 0, 0.02);
  --sf-bg-hover: rgba(0, 0, 0, 0.015);
  --sf-bg-dark: rgba(255, 255, 255, 0.04);
  --sf-bg-dark-hover: rgba(255, 255, 255, 0.03);
  --sf-border: rgba(0, 0, 0, 0.1);
  --sf-border-dark: rgba(255, 255, 255, 0.1);
}
.page-header {
  flex-shrink: 0;
}
.g-breadcrumbs__link {
  font-weight: 500;
  color: var(--g-color-text-secondary);
}
.g-breadcrumbs__link_is-current {
  font-weight: 600;
  color: var(--g-color-text-primary);
}
.sf-dialog {
  .g-dialog-footer {
    padding-top: 10px;
    padding-bottom: 18px;
  }
}

.copy-secondary {
  color: var(--g-color-text-secondary);
}

.g-label {
  user-select: none;
}

.danger-color {
  color: var(--g-color-text-danger);
}

.no-shrink {
  flex-shrink: 0;
}

.no-pseudo {
  &:before,
  &:after {
    display: none !important;
  }
}

.copy-secondary {
  color: var(--g-color-text-secondary);
}

.zone-widget-container {
  max-width: 600px;
  margin-left: 20px;
}

.sf-debug {
  color: var(--g-color-text-secondary);

  .g-disclosure__content {
    padding-top: 6px;
  }
}

.sf-refresh {
  width: 18px;
  height: 18px;
}

.sf-l-pt {
  padding-top: 15px;
}

.sf-l-pb {
  padding-bottom: $layout-padding;
}

.sf-l-pb-lg {
  padding-bottom: 40px;
}

.sf-l-pr {
  padding-right: $layout-padding;
}

.sf-l-pl {
  padding-left: $layout-padding;
}

.sf-tabs {
  padding-left: $layout-padding;
  padding-right: $layout-padding;
}

.sf-l-scrollable {
  overflow-y: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.monaco-viewer {
  width: 100%;
  height: 100%;
}

.editor-page-monaco {
  width: 100%;
  height: 100%;

  .monaco-editor {
    height: 100% !important;
  }

  .monaco-editor .overflow-guard {
    height: 100% !important;
  }

  > div {
    height: 100% !important;
  }
}

.short-dialog {
  height: 190px;
}

.relative {
  position: relative;
}

.variable-dialog {
  height: calc(100vh - 64px);

  @media (min-width: 1240px) {
    width: 1200px !important;
  }
}

.market-dialog {
  height: calc(100vh - 64px);
  max-height: 840px;

  @media (min-width: 1240px) {
    width: 1024px !important;
  }
}
.cube-params {
  height: calc(100vh - 64px);
  max-height: 1100px;
}

.g-dialog-header__caption {
  width: 100%;
}

.w96p {
  width: 96px;
}

.g-dialog-footer {
  padding-top: 12px;
}

.g-table__head {
  color: var(--g-color-text-secondary);
  //font-weight: 400;
}

.resizer_r {
  cursor: col-resize;
  right: -5px;
  top: 0;
  z-index: 2;
}

.no-scroll-tab {
  height: 100%;
  position: relative;
}

.relative {
  position: relative;
  min-height: 100%;
}

.namespace-selector {
  min-width: 150px;
}

.ds-type-selector {
  min-width: 120px;
}

.g-dialog-body {
  transition: none;
}

.no-bg {
  background: transparent !important;
}

.fw600 {
  font-weight: 600;
}

.page-container .gn-aside-header__header {
  padding-bottom: 0 !important;
}

.react-flow__panel {
  display: none;
}
.g-tab_active,
.g-tab_active:hover,
.g-tab_active:focus-visible {
  border-color: #0077ff;
}
