.fs {
  &__header {
    margin-bottom: 2px;
  }

  &__wrapper {
    display: flex;
    flex-flow: column;
    gap: 8px;

    + .fs__wrapper {
      margin-top: 16px;
    }

    &.size-s {
      .sfs__content {
        width: 240px;
      }
    }
  }
}