@use "sass:math";

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
    }

    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }

  @return $number;
}

html {
  height: 100%;
  font-size: 16px;
}

//html[fluid-font] {
//  @include fluid-type(font-size, 1920px, 2560px, 16px, 18px);
//}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  min-height: 100%;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

html {
  font-feature-settings: 'tnum' on, 'lnum' on;
  letter-spacing: 0.01em;
  background: var(--color-base-background);
}

#root {
  min-height: 100vh;
}

#portal {
  position: relative;
  z-index: 9999;
}


/*html[data-tablet] {*/
/*  --site-max-width: var(--tablet-site-max-width);*/
/*}*/
