:root {
  --font-weight-light: var(--vk-sans-text-font-weight-light);
  --font-weight-regular: var(--vk-sans-text-font-weight-regular);
  --font-weight-medium: var(--vk-sans-text-font-weight-medium);
  --font-weight-semi-bold: var(--vk-sans-text-font-weight-semi-bold);
  --font-weight-bold: var(--vk-sans-text-font-weight-bold);

  --font-size-base: 100%;
  --line-height-base: 1.65;
  --font-family-base: var(--vk-sans-text-font-family);
}

