.sfs {
  &.sfs--config-checkbox {
    .sfs {
      &__title {
        padding-top: 4px;
      }
    }
  }
}

.cfs {
  &__checkbox {
    padding-top: 6px;
  }

  &__header {
    margin-bottom: 2px;
  }
}