.wrapper {
  position: absolute;
  background-color: var(--g-color-base-simple-hover);
  border-radius: 6px;
  top: 12px;
  z-index: 100;

  &Left {
    left: 16px;
  }

  &Right {
    right: 48px; // Размещаем слева от MarketButton (12px + ширина кнопки + отступ)
  }
}
