.global-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.inherit-background {
    background: var(--g-color-base-background-50);
    //backdrop-filter: blur(4px);
  }

  &.fading-out {
    animation: fade-out 1s linear forwards;
    animation-delay: 100ms;
  }

  &.absolute {
    position: absolute;
  }

  &.higher-order {
    z-index: 50
  }
}