.header {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: calc(var(--page-y-inner-offset) + 8px) var(--page-x-inner-offset) calc(var(--page-y-inner-offset) + 12px);
    position: sticky;
    top: 0;
    background: var(--g-color-base-background-50);
    backdrop-filter: blur(4px);
    z-index: 1;
}

.title{
    display: flex;
    flex-flow: column;
    position: relative;
    
    :global{
        .g-skeleton {
            min-width: 120px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
    
            ~*{
                opacity: 0;
            }
        }
    }
   
  }

  .icon {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: auto;
    height: var(--aside-content-header-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    :global{
        .g-skeleton {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
      
            ~*{
              opacity: 0;
            }
          }
    }

  }

  .iconContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;

    svg {
      width: auto;
      height: calc(var(--aside-content-header-icon-size));
      color: var(--g-color-base-misc-heavy);
    }
  }