.page-container {
  --aside-icons-size: 18px;
  --custom-header-size: 236px;
  --custom-header-min-width: 56px;
  --logo-size: 28px;
  --items-height: 40px;
  --page-header-height: 40px;
  --page-header-navigation-height: 59px;
  --page-footer-height: 40px;
  --page-subheader-height: 64px;

  --page-x-offset: 16px;
  --page-y-offset: 12px;
  --page-header-x-offset: 8px;
  --page-header-y-offset: 0px;
  --page-footer-x-offset: 8px;
  --page-footer-y-offset: 0px;

  --page-x-inner-offset: 16px;
  --page-y-inner-offset: 12px;

  --page-inner-aside-width: 248px;
  --page-inner-aside-width-wide: 336px;
  --page-inner-aside-width-secret: 480px;
  --page-inner-aside-width-edit: 528px;

  --gn-aside-header-size: var(--custom-header-size) !important;
  --gn-aside-header-min-width: var(--custom-header-min-width) !important;

  --_--item-icon-background-size: 38px;
  --_--background-color: var(--g-color-base-background);
  --_--decoration-collapsed-background-color: var(--g-color-base-background);
  --_--decoration-expanded-background-color: var(--g-color-base-background);
  --_--vertical-divider-line-color: var(--g-color-line-generic);
  --_--horizontal-divider-line-color: var(--g-color-line-generic);
  --_--top-panel-height: 0px;

  --aside-content-header-icon-size: 26px;

  .gn-logo {
    height: var(--items-height);
  }

  .gn-title {
    min-height: 64px;
    padding: 14px 10px 14px 20px;
  }

  .gn-aside-header__content {
    padding: 0;
    --gn-aside-header-size: var(--custom-header-size) !important;
    display: flex;
    flex-flow: column;
    height: 100vh;
  }

  &.gn-aside-header_compact {
    --custom-header-size: var(--custom-header-min-width);

    .gn-aside-header__aside {
      width: var(--gn-aside-header-min-width) !important;
    }

    .gn-aside-header__pane-container {
      .gn-drawer.gn-aside-header__panels {
        left: var(--custom-header-min-width) !important;
      }
    }
  }

  &:not(.gn-aside-header_compact) {
    .gn-aside-header__pane-container {
      .gn-drawer.gn-aside-header__panels {
        left: var(--custom-header-size) !important;
      }
    }

    .gn-aside-header__aside {
      width: var(--gn-aside-header-size) !important;
    }
  }

  .gn-footer-item {
    height: var(--items-height);
  }

  .gn-settings-menu__group {
    .gn-settings-menu__item {
      height: var(--items-height);
      padding: 0 20px;

      > svg {
        width: var(--aside-icons-size);
        height: var(--aside-icons-size);
        margin-right: 6px;
      }
    }
  }


  .gn-composite-bar-item {
    --gn-composite-bar-item-action-size: 40px !important;
  }

  .gn-composite-bar-item {
    .gn-composite-bar-item__icon-place {
      svg {
        overflow: visible;
        height: var(--aside-icons-size);
        width: var(--aside-icons-size);
      }
    }
  }

  .gn-aside-header__header {
    --gn-aside-header-header-divider-height: 57px;
    box-sizing: border-box;
    flex: none;
    padding-bottom: 22px;
    padding-top: calc(var(--page-header-height) / 10);
    position: relative;
    width: 100%;
    z-index: 1;

    &:after {
      content: none
    }
  }

  .gn-aside-header__footer {
    margin: 8px 0;

    + .g-button {
      border-radius: 0;

      &:before {
        border-radius: 0;
      }
    }
  }

  .gn-logo {
    svg {
      width: var(--logo-size);
      height: var(--logo-size);
    }
  }

  &__user-icon {
    width: 100%;
    height: 100%;

    > div {
      width: inherit;
      height: inherit;
    }
  }
}

.page-container-embedded {
  .gn-aside-header__content {
    width: 100%;
    min-height: 100vh;
  }
}
