:root {
  --row-bg: rgba(0, 0, 0, 0.032);
  --row-bg-secondary: rgba(0, 0, 0, 0.035);

  --row-bg-dark: rgba(255, 255, 255, 0.04);
  --row-bg-dark-secondary: rgba(255, 255, 255, 0.043);

  --row-bg-selected: rgba(54, 151, 241, 0.12);
  --row-bg-selected-dark: rgba(54, 151, 241, 0.18);
}

.structure-block{
  padding: 8px 12px 12px 12px;
  border-radius: 4px;
  border: 1px solid var(--g-color-line-generic);
}
.double-structure-block{
  padding: 8px 12px 12px 12px;
  border-radius: 0px;
  border: 1px dashed var(--g-color-line-generic);
}
.level-1{
  //padding: 0 12px;
}

.variable-block-view {
  background-color: var(--row-bg);
  padding: 8px;
  border-radius: 4px;
}

:global(.g-root_theme_dark) {
  .variable-block-view {
    background-color: var(--row-bg-dark);
  }
}